
<ul class="blogposts">
  {{#each posts}}
    <li> 
      <a href="/posts/{{@index}}"> {{this.title}} </a>
      <p> by {{this.author}} - {{this.publishedOn}} </p>
<<<<<<< HEAD
=======
      <p>{{excerpt}}</p>
>>>>>>> 4d4e94cfa488461b3d06f44dba57cb024af0eec3
    </li>
  {{/each}}
</ul>
