
<ul class="blogposts">
  {{#each posts}}
    <li> 
      <a href="/posts/{{@index}}"> {{this.title}} </a>
      <p> by {{this.author}} - {{this.publishedOn}} </p>
      <p>{{excerpt}}</p>
    </li>
  {{/each}}
</ul>
