<h1>{{pageTitle}}</h1> 

<p> Case Active: <span>{{isActive}}<span></p>
<p> Summary: {{this.about}}</p>

<ul>Additional Details:
  <li> Bank Balance: {{balance}} </li>
  <li> Age: {{age}} </li>
  <li> Eye Color: {{eyeColor}}</li>
</ul>
