<aside>
  <h2>more stuff to read</h2>
<!--     {{#each blogs}}
        <li><a href="/blogs/{{@index}}">{{this.title}}</a> </li>
      <ul>
        <li>by {{this.author}} </li>
      </ul>
      <br/>
    {{/each}}
 -->
  {{#each blogs}}
    <h3>{{title}}</h3>
      <p> 
        by {{this.author}} <br/>
      </p>
  {{/each}}

</aside>

