<h1>details</h1>
<ul>
    <h2>{{people.name}}</h2>
    <div>
      {{people._id}}
    </div>
    <div>
      {{people.eyeColor}}
    </div>
    <div>
      {{people.age}}
    </div>
    <img src="{{people.picture}}">

</ul>
