
<ul>
  {{#each details}}
    <li>
      <h4>{{this.name}}</h4>
      <p>Balance: {{this.balance}}<br>
         Age:     {{this.age}}<br>
         Eyes:    {{this.eyeColor}}<br>
         Gender:  {{this.gender}}<br>
         Company: {{this.company}}<br>
         Email:   {{this.email}}<br>
         Phone:   {{this.phone}}<br>
         Address: {{this.address}}<br>
         About:   {{this.about}}<br>
      </p>
    </li>
  {{/each}}
</ul>
