
<ul>
  {{#each listings}}
    <li>
      <h3>{{this.name}}</h3>
      <p>Sex:     {{this.gender}}<br>
         Age:     {{this.age}}<br>
         Company: {{this.company}}<br>
         Email:   {{this.email}}<br>
      </p>
    </li>
    {{/each}}
</ul>
